[Desktop Entry]
Type=Application
Version=1.0
Name=md-editor
GenericName=Markdown Editor
GenericName[es]=Editor de Markdown
GenericName[de]=Markdown-Editor
GenericName[fr]=Éditeur Markdown
GenericName[it]=Editor Markdown
GenericName[pt]=Editor Markdown
GenericName[pl]=Edytor Markdown
GenericName[nl]=Markdown-editor
GenericName[ro]=Editor Markdown
Comment=WYSIWYG Markdown editor
Comment[es]=Editor de Markdown WYSIWYG
Comment[de]=WYSIWYG-Markdown-Editor
Comment[fr]=Éditeur Markdown WYSIWYG
Comment[it]=Editor Markdown WYSIWYG
Comment[pt]=Editor Markdown WYSIWYG
Comment[pl]=Edytor Markdown WYSIWYG
Comment[nl]=WYSIWYG-Markdown-editor
Comment[ro]=Editor Markdown WYSIWYG
Exec=md-editor %f
Icon=md-editor
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=md-editor
